<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Credentials -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>凭据</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>打开 IFTTT Maker Webhooks 账户</string>
			<key>action</key>
			<string>openIFTTTAccount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>IFTTTKey</string>
			<key>label</key>
			<string>密钥：</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>

		<!-- App List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>IFTTTAppListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>黑名单</string>
				<string>白名单</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPAppListController</string>
			<key>icon</key>
			<string>app_list</string>
			<key>label</key>
			<string>应用列表</string>
			<key>ALSettingsKeyPrefix</key>
			<string>IFTTTBL-</string>
			<key>useSearchBar</key>
			<true />
			<key>alphabeticIndexingEnabled</key>
			<true />
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>应用自定义</string>
			<key>icon</key>
			<string>app_list</string>
			<key>detail</key>
			<string>NSPCustomizeAppsController</string>
			<key>service</key>
			<string>IFTTT</string>
			<key>defaultEventNameKey</key>
			<string>IFTTTEventName</string>
			<key>defaultIncludeIconKey</key>
			<string>IFTTTIncludeIcon</string>
			<key>defaultCurateDataKey</key>
			<string>IFTTTCurateData</string>
		</dict>

		<!-- Options -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>选项</string>
			<key>footerText</key>
			<string>设置：
1. 点击上方的“打开 IFTTT Maker Webhooks 账户”（https://ifttt.com/services/maker_webhooks/settings）。
2. 如果尚未连接，请点击 “Connect” 按钮。
3. 复制页面显示 URL 末尾的 Key（https://maker.ifttt.com/use/YOUR_KEY），并填入上方对应字段。
4. 在 IFTTT 中使用 Maker Webhooks 服务创建 applet 时，它会要求填写事件名称。请将该事件名称填入上方对应字段。

Webhook 请求数据：
如果启用了“整理请求数据”：
“Value1” 会设为标题（包含应用名称），“Value2” 会设为消息（包含副标题），“Value3” 会在“包含图标”开启时设为 Base64 编码的 58x58 PNG 图标；在“包含图标”关闭时设为日期字符串。

如果关闭了“整理请求数据”：
以下属性会作为 “Value1” 传递给 Webhook 触发器（括号内为属性名）[需要先开启上方的“包含图标”开关，才会获得 icon 属性]：
设备名称 (deviceName)、应用名称 (appName)、应用 Bundle ID (appID)、标题 (title)、副标题 (subtitle)、消息 (message)、日期 (date)、Base64 编码的 58x58 PNG 图标 (icon)</string>
		</dict>

		<!-- 日期格式 -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>说明：
1. 点击上方的“打开日期格式说明”（https://nsdateformatter.com）。
2. 参考说明和示例，创建你想要的日期格式并填入上方。如果你不关心日期，可以保留默认值。

以下示例对应 2019 年 4 月 13 日星期六凌晨 3:12：
EEEE, MMM d, yyyy = Saturday, Apr 13, 2019
MM/dd/yyyy = 04/13/2019
MM-dd-yyyy HH:mm = 04-13-2019 03:12
MMM d, h:mm a = Apr 13, 3:12 AM
E, d MMM yyyy HH:mm:ss Z = Sat, 13 Apr 2019 03:12:11 +0000
yyyy-MM-dd'T'HH:mm:ssZ = 2019-04-13T03:12:11+0000
dd.MM.yy = 13.04.19
HH:mm:ss.SSS = 03:12:11.678
</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>打开日期格式说明</string>
			<key>action</key>
			<string>openDateFormatInstructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>IFTTTDateFormat</string>
			<key>label</key>
			<string>日期格式：</string>
			<key>noAutoCorrect</key>
			<true/>
			<key>default</key>
			<string>MMM d, h:mm a</string>
		</dict>
	</array>
	<key>title</key>
	<string>IFTTT</string>
</dict>
</plist>
