<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Credentials -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>凭据</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>创建 Pushover 应用</string>
			<key>action</key>
			<string>openPushoverAppBuild</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>PushoverToken</string>
			<key>label</key>
			<string>API 令牌/密钥：</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>打开 Pushover 控制台</string>
			<key>action</key>
			<string>openPushoverDashboard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>PushoverUser</string>
			<key>label</key>
			<string>用户 Key：</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>

		<!-- App List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>PushoverAppListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>黑名单</string>
				<string>白名单</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPAppListController</string>
			<key>icon</key>
			<string>app_list</string>
			<key>label</key>
			<string>应用列表</string>
			<key>ALSettingsKeyPrefix</key>
			<string>PushoverBL-</string>
			<key>useSearchBar</key>
			<true />
			<key>alphabeticIndexingEnabled</key>
			<true />
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>应用自定义</string>
			<key>icon</key>
			<string>app_list</string>
			<key>detail</key>
			<string>NSPCustomizeAppsController</string>
			<key>service</key>
			<string>Pushover</string>
			<key>defaultDevicesKey</key>
			<string>PushoverDevices</string>
			<key>defaultSoundsKey</key>
			<string>PushoverSounds</string>
		</dict>

		<!-- Options -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>选项</string>
			<key>footerText</key>
			<string>设置：
1. 点击上方的“创建 Pushover 应用”（https://pushover.net/apps/build）。
2. 输入名称（例如 “Pusher”）。其他字段可选。
3. 阅读服务条款后勾选复选框。
4. 点击底部的 “Create Application”。
5. 将 API 令牌/密钥复制到上方对应字段。
6. 点击上方的“打开 Pushover 控制台”（https://pushover.net/dashboard）。
7. 将 “Your User Key” 复制到上方对应字段。
8. 点击“接收设备”以验证凭据并加载接收设备列表。</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pushover</string>
</dict>
</plist>
